/* body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
} */
body{
    background-color: white;
    width: 100%;
}
main{
    margin-top: 55px;
    text-align: center;
}

a img{
    width: 50px;
    height: auto;
}
nav a{
    text-decoration: none;
    margin: 20px;
    color: black;
}
nav a:hover{
    border-bottom: 2px solid black;
}

.icons{
    width: 25px;
    height: auto;
}

.iconbox{
    margin-right: 100px;
}
header{
width: 100%;
display: flex;
justify-content: space-between ;
align-items: center;
/* z-index: 1;  */
position: fixed;
background-color: white;
top: 0 ;
}

.iconbox a img{
width: 25px;
height: auto;
}

#nikeIMG1 {
    width: 100vw;
    height: auto;
    object-fit: contain;
}
h1{
    margin-top: 20px;
    color: black;
    text-align: center;
}
#text1{
    text-align: center;
    margin-top: 0;   
        font-family: "Ga Maamli", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.button{
    width: 150px;
    background-color: black;
    border-radius: 30px;
    padding: 5px 13px;
    display: inline-block;
    margin-bottom: 50px;
}
.button:hover{
    background-color: red;
}
.button p {
    color: white;
    margin: 0;
}
#baraa_4{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: 10px 0px 10px 0px;
    background-color: yellow;
}
.baraa{
    width: 50%;
    display: flex;
    position: relative;
}
.baraa img{
    width: 100%;
    height: auto;
}
.baraanii_ner{
position: absolute;
bottom: 30px;
left: 30px; */
text-align: left;
/* color: white; */
}
.baraanii_ner p,
.baraanii_ner h2
{
color: white;
}

#button1 p {
color: black;
margin: 0;

}
#button1{
    width: 50px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 20px;
    display: inline-block;
    /* background-color: white;
    border-radius: 30px;
    padding: 5px 13px;
    margin-left: 20px;
    display: inline-block; */
}
#catalog{
    display: flex;
    gap: 20px;
}
.sneakers{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#membership{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.membershipItem{
    display: flex;
    position: relative;
}
.membershipDesc{
    position: absolute;
    bottom: 30px;
    left: 30px;
    
}
.membershipDesc p,
.membershipDesc h2{
    color: white;
}

/* a{
    color: white;
}